@page
@model FitnessProgramManager.Pages.FitnessProgram.IndexModel

<h1>Fitness Program Manager</h1>

<form>
    <p>
        Search by name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.FitnessProgram[0].Name)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TypeSort">
                    @Html.DisplayNameFor(model => model.FitnessProgram[0].Type)
                </a>
            </th>
            <th>@Html.DisplayNameFor(model => model.FitnessProgram[0].DurationInWeeks)</th>
            <th>@Html.DisplayNameFor(model => model.FitnessProgram[0].DifficultyLevel)</th>
            <th>Average Rating</th>
            <th>Rate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FitnessProgram)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                <td>@Html.DisplayFor(modelItem => item.DurationInWeeks)</td>
                <td>@Html.DisplayFor(modelItem => item.DifficultyLevel)</td>
                <td>@item.AverageRating.ToString("F1")</td> <!-- Display the average rating -->
                <!-- Rating form -->
                <td>
                    <form method="post" asp-page-handler="Rate" asp-route-id="@item.Id">
                        <select name="rating" class="form-control form-control-sm">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <input type="submit" value="Rate" class="btn btn-primary btn-sm mt-1" />
                    </form>
                </td>

                <!-- Edit and Delete links -->
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-page="./Create">Create New Fitness Program</a>
</div>
